#porqueEscolher {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-preto);
    gap: 0rem;
    height: 98vh;
    margin: 3rem 0 0 15rem;
    width: 65%;
    border-radius: 38px;
    padding: 30px 50px;
    justify-content: center;
}

#porqueEscolher h3 {
    color: var(--cor-azul-escuro);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 95%;
    font-size: 34px;
}

#porqueEscolher h2 {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 79%;
    font-size: 28px;
    text-align: center;
    position: relative;
}

#porqueEscolher h4 {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 79%;
    font-size: 22px;
    text-align: center;
    margin: 3rem 0 2rem 0;
}

#porqueEscolher p {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 52%;
    font-size: 13px;
    margin: 1rem 0 0 0;
    text-align: center;
    position: relative;
}

#porqueEscolher #luz {
    position: absolute;
    /* width: 95%; */
    width: 1135.15px;
    /* height: 161%; */
    height: 850.22px;
    z-index: 0;
    margin: 5rem 0 0 0rem;
}

#porqueEscolher #feedbacks {
    width: 520px;
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
    margin: 0 0 2rem 0;
}

#fale-conosco {
    width: 100%;
    padding: 5rem 0 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fale-conosco .acoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#fale-conosco .acoes h3 {
    color: var(--cor-preto);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* width: 55%; */
    font-style: italic;
    font-size: 25px;
}

#fale-conosco .acoes a {
    background: var(--cor-azul-claro);
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: var(--cor-branco);
    width: 200px;
    height: 3.5rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    width: 65%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3.5rem 0 0 15rem;
    background-color: var(--cor-branco);
    border-radius: 14px;
    position: absolute;
    z-index: 3;
}

#box p {
    color: var(--cor-preto);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 75%;
    margin: 0px;
    text-align: center;
}

#box p span {
    color: var(--cor-azul-claro);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
}


@media (min-width: 320px) and (max-width: 768px) {
    #porqueEscolher {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 0 15px;
        height: 75vh;
        margin: 3rem 0 0 15px !important;
        width: 90vw !important;
        border-radius: 24px;
    }

    #porqueEscolher #luz {
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: 1rem 0 0 0rem;
    }

    #porqueEscolher #feedbacks {
        width: 83vw;
        z-index: 1;
        margin: 0 0 0rem 0;
    }

    #porqueEscolher h3 {
        font-size: 18px;
    }

    #porqueEscolher h2 {
        font-size: 12px;
        width: 92%;
    }

    #porqueEscolher h4 {
        width: 79%;
        font-size: 11px;
        margin: 0rem 0 -1rem 0;
    }

    #porqueEscolher p {
        width: 95%;
        font-size: 10px;
        margin: -1rem 0 0 0;
    }

    #fale-conosco {
        padding: 5rem 15px 9rem 15px;
    }

    #fale-conosco .acoes {
        gap: 4px;
    }

    #fale-conosco .acoes h3 {
        width: 70%;
        font-size: 14px;
    }

    #fale-conosco .acoes a {
        font-size: 15px;
        width: 200px;
        height: 3rem;
        border-radius: 12px;
    }

    #box {
        width: 90vw;
        height: 7rem;
        margin: -3.5rem 0 0 15px;
        border-radius: 14px;
        z-index: 3;
    }

    #box p {
        font-size: 13px;
        width: 85%;
        margin: 0px;
    }

    #box p span {
        font-size: 13px;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    #porqueEscolher {
        height: 98vh;
        margin: 3rem 0 0 11rem;
        width: 64%;
        border-radius: 25px;
        padding: 30px 50px;
    }

    #porqueEscolher #luz {
        width: 889.15px;
        height: 694.22px;
        z-index: 0;
        margin: 5rem 0 0 0rem;
    }

    #porqueEscolher h2 {
        font-size: 19px;
    }

    #porqueEscolher h4 {
        width: 79%;
        font-size: 18px;
        margin: 2rem 0 1rem 0;
    }

    #porqueEscolher p {
        width: 79%;
        font-size: 13px;
        margin: 1rem 0 0 0;
    }

    #box {
        width: 63%;
        height: 7rem;
        margin: -3.5rem 0 0 12rem;
        border-radius: 14px;
    }

    #box p {
        font-size: 16px;
        width: 75%;
    }

    #box p span {
        font-size: 17px;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    #porqueEscolher {
        height: 105vh;
        margin: 3rem 0 0 15rem;
        width: 65%;
        border-radius: 38px;
        padding: 30px 50px;
    }

    #porqueEscolher h3 {
        font-size: 25px;
    }

    #porqueEscolher h2 {
        font-size: 28px;
    }

    #porqueEscolher p {
        width: 57%;
        font-size: 13px;
        letter-spacing: 0px;
    }

    #porqueEscolher img {
        width: 390px;
    }
}

@media (min-width: 1981px) and (max-width: 2560px) {
    #porqueEscolher {
        height: 100vh;
        margin: 8rem 0 0 25rem;
    }

    #porqueEscolher #feedbacks {
        width: 830px;
        background-size: cover;
        background-position: top;
        position: relative;
        z-index: 1;
        margin: 0 0 4rem 0;
    }

    #porqueEscolher #luz {
        position: absolute;
        width: 80%;
        height: 136%;
        margin: 2rem 0 0 0rem;
    }

    #porqueEscolher h4 {
        width: 79%;
        font-size: 40px;
        margin: 4rem 0 3rem 0;
    }

    #porqueEscolher h2 {
        font-size: 45px;
    }

    #porqueEscolher p {
        width: 50%;
        font-size: 26px;
        letter-spacing: 0px;
    }

    #fale-conosco .acoes h3 {
        font-size: 40px;
    }

    #fale-conosco {
        padding: 6rem 0 12rem 0;
    }

    #fale-conosco .acoes {
        gap: 2rem;
    }

    #fale-conosco .acoes a {
        font-size: 20px;
        width: 275px;
        height: 4.5rem;
        border-radius: 12px;
    }

    #box {
        width: 65%;
        height: 10rem;
        margin: -5.5rem 0 0 15rem;
        border-radius: 14px;
        left: 6%;
    }

    #box p {
        font-size: 32px;
        width: 75%;
        margin: 0px;
    }

    #box p span {
        font-size: 32px;
    }
}