#quemSomos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: var(--cor-branco); */
    gap: 3rem;
    padding: 0 15rem;
    height: 90vh;
    margin: -1px 0 0 0;
}

#quemSomos #luz {
    position: absolute;
    z-index: 0;
    width: 85% !important;
    left: 3%;
    opacity: 0.9;
}

#quemSomos #imgCliente {
    width: 490px;
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
}

#quemSomos .texto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 1;
}

p.tag-quem-somos {
    color: #B58D00 !important;
    background-color: #FFEDB6 !important;
    padding: 10px 25px;
    border-radius: 20px;
    width: 42% !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

#quemSomos .texto h2 {
    color: var(--cor-preto);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* width: 55%; */
    font-size: 32px;
}

#quemSomos .texto p {
    color: var(--cor-preto);
    font-family: "Montserrat", sans-serif;
    /* font-weight: 300; */
    width: 80%;
    font-size: 14px;
}

#quemSomos .acoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#quemSomos .acoes h3 {
    color: var(--cor-preto);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* width: 55%; */
    font-style: italic;
    font-size: 25px;
}

#quemSomos .acoes a {
    background: var(--cor-azul-claro);
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: var(--cor-branco);
    width: 200px;
    height: 3.5rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quemSomos .texto span {
    color: var(--cor-cinza-escuro);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}


@media (min-width: 320px) and (max-width: 768px) {
    #quemSomos {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 5rem;
        padding: 0 15px;
        height: 120vh;
    }

    #quemSomos img {
        width: 275px;
        background-size: cover;
        background-position: top;
    }

    #quemSomos .texto h2 {
        font-size: 25px;
    }

    #quemSomos .texto p {
        color: var(--cor-cinza-escuro);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        width: 100%;
        font-size: 14px;
        letter-spacing: 1px;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    #quemSomos {
        height: 78vh;
        padding: 0 10rem;
    }

    #quemSomos #imgCliente {
        width: 360px;
    }

    p.tag-quem-somos {
        padding: 10px 14px;
        width: 50% !important;
        font-size: 10px !important;
    }

    #quemSomos .texto h2 {
        font-size: 25px;
    }

    #quemSomos .texto p {
        font-weight: 300;
        width: 100%;
        font-size: 10px;
        letter-spacing: 0px;
    }

    #quemSomos .acoes h3 {
        width: 100%;
        font-size: 15px;
    }

    #quemSomos .acoes a {
        font-size: 14px;
        width: 180px;
        height: 2.5rem;
        border-radius: 8px;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    #quemSomos .texto p {
        width: 100%;
        font-size: 14px;
        letter-spacing: 0px;
    }

    #quemSomos #imgCliente {
        width: 475px;
    }

    p.tag-quem-somos {
        border-radius: 25px;
        width: 43% !important;
        font-size: 12px !important;
    }

    #quemSomos .acoes h3 {
        font-size: 22px;
    }
}

@media (min-width: 1981px) and (max-width: 2560px) {
    #quemSomos {
        gap: 3rem;
        padding: 0 30rem;
        height: 82vh;
    }

    #quemSomos #imgCliente {
        width: 163%;
    }

    #quemSomos .texto h2 {
        font-size: 55px;
    }

    #quemSomos .texto p {
        width: 100%;
        font-size: 28px;
        letter-spacing: 0px;
        line-height: 26px;
    }

    p.tag-quem-somos {
        padding: 16px 25px;
        border-radius: 40px;
        width: 37% !important;
        font-size: 21px !important;
    }

    #quemSomos .acoes {
        gap: 3rem;
    }

    #quemSomos .acoes h3 {
        font-size: 40px;
    }
}