#servicos {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
    flex-direction: row;
}

#servicos .topo {
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: relative;
    z-index: 2;
    margin: 0rem;
}

#servicos #pc {
    width: 380px;
    margin: 0 0 0 5rem;
}

#servicos #luz {
    position: absolute;
    z-index: 0;
    width: 100% !important;
    left: -6%;
    height: 100%;
    margin-top: 10rem;
}

.topo .texto h2 {
    color: var(--cor-preto);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 95%;
    font-size: 32px;
}

.topo .texto p {
    color: var(--cor-preto);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 79%;
    font-size: 14px;
    margin: 1.5rem 0 2rem 0;
}

.topo-cards {
    display: flex;
    gap: 3rem;
}

.cards {
    display: flex;
    gap: 1.2rem;
}

#servicos #servicos-prestados {
    width: 90%;
    position: relative;
    z-index: 3;
}


@media (min-width: 320px) and (max-width: 768px) {
    #servicos {
        height: 135vh;
        padding: 0 15px;
        flex-direction: column;
    }

    #servicos #luz {
        display: none;
    }

    #servicos #pc {
        width: 75vw;
        margin: 0 0 0 0rem;
    }

    #servicos .topo .texto h3 {
        font-size: 21px;
    }

    #servicos .topo .texto h2 {
        font-size: 25px;
    }

    #servicos .topo .texto p {
        width: 100% !important;
        font-size: 15px;
        margin: 1rem 0 2rem 0;
    }

    #servicos .topo {
        justify-content: space-between;
        margin: 0 0 1rem 0;
        flex-direction: column;
        width: 100%;
    }

    .topo-cards {
        gap: 0.3rem;
        flex-direction: row;
    }

    .cards {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
    }

    .cards-um,
    .cards-dois {
        display: flex;
        gap: 0.4rem;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    #servicos {
        padding: 0 13rem;
        height: 78vh;
    }

    #servicos .topo .texto h3 {
        width: 95%;
        font-size: 22px;
    }

    #servicos .topo .texto h2 {
        width: 95%;
        font-size: 25px;
    }

    #servicos .topo .texto p {
        width: 95%;
        font-size: 14px;
    }

    #servicos .topo-cards {
        gap: 0.4rem;
    }

    #servicos #pc {
        width: 249px;
    }

    #servicos #luz {
        width: 67% !important;
        left: 10%;
        height: 56%;
        margin-top: 10rem;
    }

    #servicos #servicos-prestados {
        width: 23rem;
        position: relative;
        z-index: 3;
    }

    #servicos .topo .texto p {
        width: 92%;
        font-size: 12px;
        margin: 1rem 0 2rem 0;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    .topo-cards {
        gap: 1rem;
    }

    .cards {
        gap: 1.3rem;
    }

    #servicos #pc {
        width: 358px;
        margin: 0 0 0 5rem;
    }

    #servicos #servicos-prestados {
        width: 95%;
    }
}

@media (min-width: 1981px) and (max-width: 2560px) {
    #servicos {
        height: 82vh;
        padding: 0 30rem;
    }

    #servicos #pc {
        width: 590px;
        margin: 0 0 0 9rem;
    }

    #servicos #servicos-prestados {
        width: 775px;
        position: relative;
        z-index: 3;
    }

    #servicos .topo .texto h2 {
        font-size: 55px;
    }

    #servicos .topo .texto p {
        width: 80%;
        font-size: 26px;
        margin: 3rem 0 1rem 0;
    }

    .topo-cards {
        gap: 2.3rem;
    }

    .cards {
        gap: 2.7rem;
    }

    .cards-um,
    .cards-dois {
        display: flex;
        gap: 2.3rem;
    }
}